@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  input {
    @apply outline-none;
  }
  input:focus + .error-message {
    display: none;
  }
  body,
  input,
  textarea {
    &::-webkit-scrollbar {
      @apply w-[6px];
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-track {
      @apply bg-[#fcfbff] dark:bg-[#1c1c24];
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-[#8e9eab] rounded-md;
    }
  }
}
// Custom TextEditor styles
.ql-snow .ql-picker {
  @apply dark:text-white;
}
.ql-stroke {
  @apply dark:stroke-white;
}
.ql-fill {
  @apply dark:fill-white;
}
.ql-toolbar.ql-snow {
  @apply font-body font-medium bg-strock rounded-t-[5px] dark:bg-darkStroke;
  border: none;
}
.ql-container.ql-snow {
  @apply font-body font-medium;
  border: none;
  .ql-editor {
    @apply font-body text-sm font-medium h-[355px] overflow-y-scroll dark:text-white p-[15px];
    &::-webkit-scrollbar {
      @apply w-[6px];
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-track {
      @apply bg-[#fcfbff] dark:bg-[#1c1c24];
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-strock dark:bg-darkStroke;
    }
    &.ql-blank::before {
      @apply font-semibold not-italic text-base;
    }
    &.ql-blank::before {
      @apply dark:text-text2;
    }
  }
}
